<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Compra Finalizada - Ticket</span>
        <p><strong>Código:</strong> {{ticket.code}}</p>
        {{#each (array ticket)}}
        <p><strong>Fecha y Hora:</strong> {{formatDate this.purchase_datetime}}</p>
        {{/each}}
        <p><strong>Total:</strong> ${{ticket.amount}}</p>
        <p><strong>Comprador:</strong> {{ticket.purchaser}}</p>
        {{#if ticket.products.length}}
          <h6>Productos Comprados:</h6>
          <ul>
            {{#each ticket.products}}
              <li>
                {{this.product.nombre}} - 
                Cantidad: {{this.quantity}} - 
                Precio Unitario: ${{this.product.precio}} - 
                Subtotal: ${{multiply this.quantity this.product.precio}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if unprocessedProducts}}
          <p><strong>Productos no procesados:</strong> {{unprocessedProducts}}</p>
        {{/if}}
      </div>
      {{#unless (eq user.role "admin")}}
      <div class="card-action">
        <a href="/tickets" class="btn waves-effect waves-light">Volver a Pedidos</a>
      </div>
      {{/unless}}
      {{#if (eq user.role "admin")}}
        <a href="/admin/tickets" class="btn waves-effect waves-light blue">Volver a Todos los Pedidos</a>
      {{/if}}
    </div>
  </div>
</div>